<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterTestApp.tareas.home.title">Tareas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tareas" [routerLink]="['/tareas/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="jhipsterTestApp.tareas.home.createLabel">
            Create a new Tareas
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jhipsterTestApp.tareas.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="tareas?.length === 0">
        <span jhiTranslate="jhipsterTestApp.tareas.home.notFound">No tareas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tareas && tareas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="responsable"><span jhiTranslate="jhipsterTestApp.tareas.responsable">Responsable</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="titulo"><span jhiTranslate="jhipsterTestApp.tareas.titulo">Titulo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descripcion"><span jhiTranslate="jhipsterTestApp.tareas.descripcion">Descripcion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="estado"><span jhiTranslate="jhipsterTestApp.tareas.estado">Estado</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fechafin"><span jhiTranslate="jhipsterTestApp.tareas.fechafin">Fechafin</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="peticion.id"><span jhiTranslate="jhipsterTestApp.tareas.peticion">Peticion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let tareas of tareas ;trackBy: trackId">
                    <td><a [routerLink]="['/tareas', tareas.id, 'view']">{{ tareas.id }}</a></td>
                    <td>{{ tareas.responsable }}</td>
                    <td>{{ tareas.titulo }}</td>
                    <td>{{ tareas.descripcion }}</td>
                    <td jhiTranslate="{{ 'jhipsterTestApp.Estado.' + tareas.estado }}">{{ tareas.estado }}</td>
                    <td>{{ tareas.fechafin | date:'medium' }}</td>
                    <td>
                        <div *ngIf="tareas.peticion">
                            <a [routerLink]="['/peticion', tareas.peticion?.id, 'view']" >{{ tareas.peticion?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tareas', tareas.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tareas', tareas.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tareas)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
